div.ol-zoom {
    top: 0.8em;
    right: 2em;
    left: unset;
    background-color: transparent;
}

div.ol-zoom:hover {    
    background-color: transparent;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
    border-radius: 30px;
    background-color: rgba(60,60,60,0.85);
    width: 30px;
    height: 30px;
    font-family: sans-serif;
}

.ol-zoom .ol-zoom-in:focus,
.ol-zoom .ol-zoom-in:hover,
.ol-zoom .ol-zoom-out:focus,
.ol-zoom .ol-zoom-out:hover {
    background-color: darkslategray;
}