@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";
@import "control/ol_layerswitcher";
@import "control/ol_legend";
@import "control/ol_opacity_slider";
@import "control/ol_source_metadata";
@import "control/ol_switcher_sub_control";
@import "control/ol_zoom";
@import "control/ol_mouse_position";
@import "control/ol_scaleline";

@import "../node_modules/ol/ol.css";

$ol-map-width: 100%;
$ol-map-height: 100%;

body, html, .fullscreen-map, .map {
    width: $ol-map-width;
    height: $ol-map-height;
    overflow: hidden;
}
