@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";
@import "ol_popup";
@import "controls/ol_layerswitcher";
@import "controls/ol_legend";
@import "controls/ol_zoom";
@import "controls/ol_mouse_position";
@import "controls/ol_scaleline";

@import "../node_modules/ol/ol.css";

$ol-map-width: 100%;
$ol-map-height: 100%;

body, html, .fullscreen-map, .map {
    width: $ol-map-width;
    height: $ol-map-height;
    overflow: hidden;
}
