.ol-layerswitcher-control {
    position: absolute; 
    width: 190px; 
    height: auto; 
    background-color: transparent;
    top: 6em; 
    right: 2em;
    display: table;
}

.ol-layerswitcher-control:hover {
    background-color: transparent;
}

.ol-layerswitcher-control > .box-row {
    display: table-row;
}

.ol-layerswitcher-control > .box-row > .box-cell {
    display: table-cell;
}

.ol-layerswitcher-control > .box-row > .box-cell.left-cell {    
    width: 160px;
}

.ol-layerswitcher-control > .box-row > .box-cell.right-cell {
    background-color: black;
    opacity: 0.6;
    width: 30px;    
}

.ol-layerswitcher-control > .box-row > .box-cell.right-cell.control-header {
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ol-layerswitcher-control > .box-row > .box-cell.right-cell.control-footer {
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ol-layerswitcher-control ul.layer-label-list {
    list-style: none;
}

.ol-layerswitcher-control ul.layer-icon-list {
    list-style: none;
}

.ol-layerswitcher-control li.layer-label > div.label-wrapper {    
    display: inline-block; 
    
}

.ol-layerswitcher-control li.layer-icon > div.icon-wrapper {    
    display: inline-block; 
    text-align: center; 
    width: 100%;
    height: 30px;
}

li.layer-label > a {
    color: darkslategray;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 2px 5px;
    text-decoration: none;
    text-align: right; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 155px;
    height: 30px;    
}

li.layer-label > a.level2 {
    font-size: 0.75em;
}

li.layer-label > a:hover {
    color: white;
    background-color: black;
    opacity: 0.6;
    border-radius: 15px;
}

li.layer-icon > div.icon-wrapper > a {
    color: white;
}

li.layer-icon div.icon-wrapper:hover {
    background-color: darkslategray;
}

div.icon-wrapper > a > span {
    font-size: 0.65em;
    font-weight: bolder;
}
