/* .ol-layerswitcher.ol-collapsed {
    width: unset;
    height: unset;
}

.ol-layerswitcher,
.ol-layerswitcher.ol-forceopen {
    width: 20em;
}

.hideOpacity .layerswitcher-opacity {
    display: none;
}

.hideOpacity .ol-layerswitcher .layerup {
    height: 1.5em;
}

.showPercent .layerSwitcher .ol-layerswitcher .layerswitcher-opacity-label {
    display: block;
}

.ol-header > div {
    width:100%; 
}

.toggleVisibility {
    padding-left: 1.6em;
    cursor: pointer;
    border-bottom: 2px solid #369;
    margin-bottom: 0.5em; 
}

.toggleVisibility:before {
    background-color: #fff;
    border: 2px solid #369;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 1.2em;
    left: 0.1em;
    margin: 0;
    position: absolute;
    width: 1.2em;
}

.toggleVisibility.show:before {
    background: #369;
} */

.ol-layer-group .ol-layerswitcher-buttons .layerup {
    display: none;
}

.ol-layer-group .li-content .layerswitcher-opacity {
    display: none;
}