/* Legend styles */

.ol-legend-control {
    display: none;
    position: absolute;
    bottom: 7em;
    left: 1em;
    background-color: rgba(60,60,60,0.85);
    border-radius: 15px;
    padding: 5px 10px;
    width: 300px;
}

.ol-legend-control.active {
    display: block;
}

.ol-legend-control.active:hover {
    background-color: rgba(60,60,60,0.85);
}

.ol-legend-control > .legend-header {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.ol-legend-control > .legend-header > div:first-child {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
}

.ol-legend-control > .legend-header > div:last-child {
    float: right;
}

.ol-legend-control > .legend-header > div:last-child > a {
    display: inline-block;
    color: white;
}

.ol-legend-control > .legend-header > div:last-child > a:hover {
    color: lightgray;
}

.ol-legend-control > .legend-body > img {
    width: 100%;
}