/* Legend styles */

.ol-legend-control {
    display: none;
    position: absolute;
    bottom: 7em;
    left: 1em;
    background-color: rgba(60,60,60,0.85);
    border-radius: 15px;
    padding: 5px 10px;
}
