/* Base layer switcher styles */

.ol-layerswitcher-control {
    position: absolute; 
    width: 200px; 
    height: auto; 
    background-color: transparent;
    top: 6em; 
    right: 2em;
    display: table;
}

.ol-layerswitcher-control.show-tools {
    width: 270px;
}

.ol-layerswitcher-control:hover {
    background-color: transparent;
}

.ol-layerswitcher-control > .box-row {
    display: table-row;
    max-height: 30px;
}

.ol-layerswitcher-control > .box-row > a {
    display: block;
    width: 100%;
    height: 30px;    
}

.ol-layerswitcher-control > .box-row > a.disabled {
    pointer-events: none;  
}

.ol-layerswitcher-control > .box-row.row-hidden {
    display: none;    
}

.ol-layerswitcher-control > .box-row .box-cell {
    display: table-cell;   
}

.ol-layerswitcher-control > .box-row .box-cell.left-cell {
    max-width: 165px;
    width: 165px;
    max-height: 30px;
    height: 30px;
}

.ol-layerswitcher-control > .box-row .box-cell.left-cell.general-element {    
    color: darkslategray;
    font-weight: bolder;
    padding: 2px 5px;
    text-decoration: none;
    text-align: right; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.ol-layerswitcher-control > .box-row .box-cell.left-cell.general-element.layer-disabled {    
    color: gray;    
}

.ol-layerswitcher-control > .box-row .box-cell.left-cell.general-element:hover {
    color: white;
    background-color: rgba(60,60,60,0.7);
    border-radius: 15px;
}

.ol-layerswitcher-control > .box-row .box-cell.left-cell.general-element.group-opened {
    text-decoration: underline;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell {
    background-color: rgba(60,60,60,0.85);
    width: 30px;  
    min-width: 30px;
    height: 30px;
    min-height: 30px;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell.header-element {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell.footer-element {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell div.icon-wrapper {    
    color: white;
    display: inline-block; 
    text-align: center; 
    vertical-align: middle;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell div.icon-wrapper.layer-visible {    
    background-image: radial-gradient(circle, yellow, orange, red);
    color: black;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell div.icon-wrapper.layer-disabled {    
    background-image: radial-gradient(circle, lightgray, gray, darkslategray);
    color: black;
}

.ol-layerswitcher-control > .box-row .box-cell.right-cell div.icon-wrapper:hover {    
    background-color: darkslategray;
}

.ol-layerswitcher-control > .box-row .box-cell.tools-extension-cell {
    display: none;
}

.ol-layerswitcher-control > .box-row .box-cell.tools-extension-cell.active {
    display: table-cell;
    width: 75px;
    background-color: white;
    opacity: 1.0;
    height: 29px;
    max-height: 29px;
    padding: 0px 4px;
    border-radius: 0px 15px 15px 0px;
}

.ol-layerswitcher-control > .box-row .box-cell.tools-extension-cell.active > a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-align: bottom; 
    font-size: smaller;
}

.ol-layerswitcher-control > .box-row .box-cell.tools-extension-cell.active > a.disabled {
    color: darkslategray;
    pointer-events: none;
}

.ol-layerswitcher-control > .box-row .box-cell.tools-extension-cell.active > a:hover {
    color: darkslategray;
}

a.level1 {
    font-size: 1.0em;
}

a.level2 {
    font-size: 0.8em;
}

div.icon-wrapper > span {
    font-size: 0.7em;
    font-weight: bolder;
}
