/* Opacity slider styles */

.ol-opacity-slider-control {
    display: none;
    position: absolute;
    bottom: 7em;
    left: 1em;
    background-color: rgba(60,60,60,0.85);
    border-radius: 15px;
    padding: 5px 10px;
}

.ol-opacity-slider-control.active {
    display: block;
}

.ol-opacity-slider-control.active:hover {
    background-color: rgba(60,60,60,0.85);
}

.ol-opacity-slider-control > .opacity-header {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.ol-opacity-slider-control > .opacity-header > div:first-child {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ol-opacity-slider-control > .opacity-header > div:last-child {
    float: right;
    padding-left: 5px;
}

.ol-opacity-slider-control > .opacity-header > div:last-child > a {
    display: inline-block;
    color: white;
}

.ol-opacity-slider-control > .opacity-header > div:last-child > a:hover {
    color: lightgray;
}

.opacity-body > div.endstop {   
    width: 28px;
    text-align: center;
    padding-left: 4px;
    background-color: white;
    color: black;
    height: 26px;
}

.opacity-body > div.endstop.left {
    float: left;
    border-radius: 4px 0 0 4px;
}

.opacity-body > div.range-slider {
    margin: 0 28px;
}

.opacity-body > div.endstop.right {
    float: right;
    border-radius: 0 4px 4px 0;
}

/* Range input styling from https://www.cssportal.com/style-input-range/ */

.opacity-body input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin-bottom: 5px;
    width: 100%;
}

.opacity-body input[type=range]:focus {
    outline: none;
}
  
.opacity-body input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}

.opacity-body input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
  
.opacity-body input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}
  
.opacity-body input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}
  
.opacity-body input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
  
.opacity-body input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
  
.opacity-body input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
  
.opacity-body input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
  
.opacity-body input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
  
.opacity-body input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}
  
.opacity-body input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}